<!DOCTYPE html>
<html>
    <head>
        <meta
            http-equiv="origin-trial"
            content="AopRGQfW8DjTw7ZEIIL6whtQkTi7Pp0ioEOo1RLuhX5bL8xl32ArNXIOzoYie0YVZXg1/JpHJ5Mm1EuC0fH2tQQAAABkeyJvcmlnaW4iOiJodHRwczovL2dob3NoLWV4cGVyaW1lbnRzLmhlcm9rdWFwcC5jb206NDQzIiwiZmVhdHVyZSI6IlNtc1JlY2VpdmVyIiwiZXhwaXJ5IjoxNTczMzA2OTQzfQ=="
        />
    </head>
    <body>
        Hi there.
    </body>
</html>
